<form #formAddTask name="form-add-task" (submit)="submitNewTask(taskInput.value, descriptionInput.value); $event.preventDefault()">
  <label for="inputTask">Task Name: </label>
    <input #taskInput required type="text" name="taskInput" placeholder="Enter task name">
    <textarea #descriptionInput type="text" name="descriptionInput" placeholder="Enter description" rows="5" cols="30"></textarea>
  <button class="danger-btn" type="button" (click)="cancelHandler()">Cancel</button>
  <button class="update-btn" type="submit">Add Task</button>
</form>

<p>{{debugOutput}}</p>
