.task-card {
  border: solid 2px orange;
  border-radius: 2em;
  text-align: center;
  width: 35%;
  margin: 10px;
}

li {
  list-style: none;
  text-align: left;
  padding: 10px;
  margin-left: 30px;
}

select {
  margin-bottom: 5px;
}


