
  @for (t of getDefaultChecklist(); track t.id){
    <div class="{{t.status}}" >
    <h3>{{t.task}}</h3>

     @if (t.showDescription){
      <p>{{t.description}}</p>
      <button (click)="showDescriptionHandler(t.id, false)" type="button">Show description</button>
     } @else if (!t.showDescription) {
      <button (click)="showDescriptionHandler(t.id, true)" type="button">Show description</button>
     }

      <label for="tasks">Task Status: </label>
        <select #taskStatus name="taskStatus">
            <option #incomplete name="incomplete" value="incomplete">Incomplete</option>
            <option #inProgress name="inProgress" value="in-progress">In Progress</option>
            <option #complete name="complete" value="complete">Complete</option>
        </select>
        <button class="update-btn" (click)="changeTaskStatus(t.id, taskStatus.value); $event.preventDefault()">Change Status</button>
        <button class="danger-btn" (click)="deleteHandler(t.id); $event.preventDefault()">Delete</button>
    </div>
  }


<p>{{debugOutput}}</p>




