div{
  border-radius: 2em;
  text-align: center;
  width: 35%;
  margin: 10px;
}

.incomplete {
  border: solid 4px orange;
  background-color: rgb(240, 188, 92);
}

.in-progress {
  border: solid 4px green;
  background-color: rgb(36, 155, 36);
}

.complete {
  border: solid 4px blue;
  background-color: rgb(93, 93, 223);
}

li {
  list-style: none;
  text-align: left;
  padding: 10px;
  margin-left: 30px;
}

select {
  margin-bottom: 5px;
}

.change-status {
 background-color: rgb(105, 192, 105);
}


