
  @for (t of getDefaultChecklist(); track t.id){
    <div class="{{t.status}}" >
    <li>{{t.task}}</li>
    <!-- @if to display description (t.description (not yet added)) -->
      <label for="tasks">Task Status: </label>
        <select #taskStatus name="taskStatus">
            <option #incomplete name="incomplete" value="incomplete">Incomplete</option>
            <option #inProgress name="inProgress" value="in-progress">In Progress</option>
            <option #complete name="complete" value="complete">Complete</option>
        </select>
        <button class="change-status" (click)="changeTaskStatus(t.id, taskStatus.value); $event.preventDefault()">Change Status</button>
        <button class="danger-btn" (click)="deleteHandler(t.id); $event.preventDefault()">Delete</button>
    </div>
  }




